<h1>Welcome to the DK Classifieds</h1>
<p>Please see the available entries listed below. All items are on a first come first serve basis, and absolutely no reserve bidding is allowed, cash is due on transaction completion. And remember, only deal locally. Enjoy!</p>

<h2>Number of Posts: <%= @posts.count %></h2>

<%= form_tag posts_path, :method => 'get' do %>
	<%= text_field_tag :my_search, params[:my_search] %>
	<%= submit_tag "search" %>
<% end %>


<% if params[:my_search] %>
	<% if @posts.present? %>
		<h4><span style="font-style:italic">
			<%= pluralize(@posts.count, 'result') %> found for: <%= params[:my_search] %></span></h4>
	<% else %>
		<h4>Sorry, no results found</h4>
	<% end %>
	<p><%= link_to "<< Go Back", posts_path %></p>
<% end %>

<% if params[:category_search] %>
	<h2>Category Results For: <%= Category.find(params[:category_search]).name %></h2>
<% end %>

<br />


<h3>Listing posts <% if can? :create, Post %> | <%= link_to 'New Post', new_post_path %><% end %></h3>

<div class="ad_body">

	<% @posts.each do |post| %>
    <div class="ad_box">
        <div class="ad_image">
            <%= image_tag cycle('mower.jpg','guitar.jpg','car.png') %>
        </div>
        <div class="ad_detail">
            <div class="ad_title">
                <%= link_to post.title, post %>
            </div>
            <div class="ad_time">
                <%= truncate(post.description, :length => 200, :omission => "...") %>
            </div>
            <div class="ad_time">
               <%= formatted_date(post.created_at) %> |
               <%= "Posted " + time_since_post(post.created_at) + " ago" %>
            </div>
            <div class="ad_time">
							<% if post.category_id.present? %>
									<%= link_to post.category.name, category_path(post.category_id) %>
							<% else %>
								(no category)
							<% end %>
            </div>
            <div class="ad_time">
								<% if can? :update, post %>
									<%= link_to 'Edit', edit_post_path(post) %> |
									<%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
								<% end %>
            </div>
        </div>
        <div class="ad_more_box">
          <%= nh(post.price) %>
        </div>
    </div>
	<% end %>
	<p class="clear" />
</div>

<% content_for :right_content do %>
	<div class="category_list">
		<h2>Browse By Category</h2>
		<ul>
				<li id="list_highlight"><%= link_to "All Categories (#{Post.count})", posts_path %></li>
			<% Category.all.each do |category| %>
				<li id="list_highlight"><%= link_to "#{category.name.capitalize} (#{category.posts.count})", category %></li>
			<% end %>
		</ul>
	</div>
	
	<%= form_tag posts_path, :method => 'get' do %>
		<%= label_tag :category_search %>
		<%= select_tag :category_search, options_for_select(Category.all.map {|c| [c.name, c.id]}, :category_id) %>
		<%= submit_tag :search %>
	<% end %>

<% end %>