<h1>Welcome to the DK Classifieds</h1>
<p>Please see the available entries listed below. All items are on a first come first serve basis, and absolutely no reserve bidding is allowed, cash is due on transaction completion. And remember, only deal locally. Enjoy!</p>

<h3>Listing posts <% if can? :create, Post %> | <%= link_to 'New Post', new_post_path %><% end %></h3>

<div class="posts_data">
	<%= render 'posts' %>
</div>

<% content_for :right_content do %>
	<div class="category_list">
		<h2>Browse By Category</h2>
		<ul>
			<% Category.all.each do |category| %>
				<li><%= link_to category.name.capitalize, category.name.downcase %></li>
			<% end %>
		</ul>
	</div>
	
	<%= form_tag '/posts/post_search', :remote => true do %>
		<%= label_tag :category_id %>
		<%= select_tag :category_id, options_for_select(Category.all.map {|c| [c.name, c.id]}, :category_id) %>
		<%= submit_tag :search %>
	<% end %>

<% end %>