<h1>Listing posts</h1>

<table>
  <tr>
    <th>Posted At</th>
    <th>Detail</th>
    <th>User ID</th>
    <th>Public</th>
    <th>Title</th>
    <th>Price</th>
    <th>Description</th>
    <th>List name</th>
    <th>List email</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Type</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= formated_date(post.created_at) %></td>
    <td><%= time_since_post(post.created_at).humanize %> ago</td>
    <td><%= post.user_id %></td>
    <td><%= post.public? ? "Yes" : "No" %></td>
    <td><%= post.title %></td>
    <td><%= post.price %></td>
    <td><%= post.description %></td>
    <td><%= post.list_name %></td>
    <td><%= post.list_email %></td>
    <td><%= post.city %></td>
    <td><%= post.state %></td>
    <td><%= post.zipcode %></td>
    <td><%= post.post_type.capitalize %></td>
    <td><%= post.category_id %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Post', new_post_path %>

<div class="ad_body">
    <div class="ad_box">
        <div class="ad_image">
            <%= image_tag 'guitar.jpg'%>
        </div>
        <div class="ad_detail">
            <div class="ad_title">
                Title would go here
            </div>
            <div class="ad_time">
                <%= Time.now %>
            </div>
        </div>
        <div class="ad_more_box">
          More Here
        </div>
    </div>
</div>



<br />


