<h2><%= link_to "All", categories_path %> > <%= link_to @category.name, category_path(@category) %> > <%= @post.title %></h2>

<div class="post_container">

	<div id="images">
		<%= image_tag cycle("mower.jpg", "guitar.jpg") %>
	</div>

	<div id="post">

		<div id="price">
			<%= nh(@post.price) %>
		</div>

		<h1>
			<div id="title">
				<%= @post.title %>
			</div>
		</h1>

		<div id="city">
			<%= @post.city %>, <%= @post.state %> | <%= @post.zipcode %>
		</div>

		<div id="date_posted">
			<%= formatted_date(@post.created_at) %> | Posted <%= time_since_post(@post.created_at) %> ago
		</div>

		<div id="description">
			<%= @post.description %>
		</div>
		<div class="post_container_name">
			<div id="name">
				<h1>Seller Information</h1>
				<h2>Name: <%= [@post.list_name, @post.user.last_name].join(' ') %></h2>
				<h2>Email: <%= @post.list_email %></h2>
				<h2>Phone: <%= number_to_phone(@poster.phone, :area_code => true) %></h2>
			</div>
		</div>
		<div id="edit_features">
			<% if can? :update, @post %>
				<%= link_to 'Edit', edit_category_post_path(@category.id, @post) %> |
			<% end %>
				<%= link_to 'Back', category_path(@category) %>
		</div>
	</div>
	<p class="clear" />

</div>


